@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-code: #0a0a0a;
  --color-card-hover: var(--color-card-hover);
  --color-drizzle: var(--color-drizzle);
  --color-motion: var(--color-motion);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-highlight: var(--highlight);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted-secondary: var(--muted-secondary);
  --color-muted-tertiary: var(--muted-tertiary);
  --color-muted-primary: var(--muted-primary);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-border-hover: var(--border-hover);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-edge: var(--edge);

  --font-sans: var(--font-sans), sans-serif;
  --font-mono: var(--font-mono), monospace;
  --font-code: var(--font-code), monospace;
  --font-inter: var(--font-inter), sans-serif;
  --font-manrope: var(--font-manrope), sans-serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-primary: var(--radius);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --shadow-primary: var(--shadow-primary);
  --shadow-secondary: var(--shadow-secondary);
  --shadow-tertiary: var(--shadow-tertiary);

  --max-width-code: 840px;
}

:root {
  --muted-secondary: #666;
  --color-card-hover: color-mix(in oklab, var(--accent) 50%, transparent);
  --color-drizzle: #89bb14;
  --color-motion: #dfd508;
  --background: #f4f4f0;
  --foreground: #080707;
  --card: #ffffff;
  --card-foreground: #000000;
  --highlight: var(--color-neutral-800);
  --popover: #fcfcfc;
  --popover-foreground: #000000;
  --primary: #000000;
  --primary-foreground: #ffffff;
  --secondary: #f5f5f5;
  --secondary-foreground: #000000;
  --muted: var(--color-neutral-200);
  /* --muted: #f5f5f5; */
  --muted-foreground: #525252;
  --muted-primary: #525252;
  --muted-tertiary: var(--color-neutral-300);
  --accent: #ebebeb;
  --accent-foreground: #000000;
  --destructive: #e54b4f;
  --destructive-foreground: #ffffff;
  --border: #e4e4e4;
  --edge: color-mix(in oklab, var(--border) 94%, var(--background));
  --border-hover: var(--color-neutral-400);
  --input: #ebebeb;
  --ring: #000000;
  --chart-1: #ffae04;
  --chart-2: #2d62ef;
  --chart-3: #a4a4a4;
  --chart-4: #e4e4e4;
  --chart-5: #747474;
  --sidebar: #fcfcfc;
  --sidebar-foreground: #000000;
  --sidebar-primary: #000000;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #ebebeb;
  --sidebar-accent-foreground: #000000;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #000000;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.18;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-primary: 0 8px 30px rgb(0, 0, 0, 0.12);
  --shadow-secondary:
    0 1px 1px rgba(0, 0, 0, 0.05), 0 4px 6px rgba(34, 42, 53, 0.04),
    0 24px 68px rgba(47, 48, 55, 0.05), 0 2px 3px rgba(0, 0, 0, 0.04);
  --shadow-tertiary: 0 2px 10px rgb(0, 0, 0, 0.12);
}

.dark {
  --muted-secondary: #888;
  --color-card-hover: #ffffff0f;
  --color-drizzle: #c5f74f;
  --color-motion: #fff312;
  --background: var(--color-neutral-950);
  --foreground: #ffffff;
  --card: #090909;
  --card-foreground: #ffffff;
  --popover: #121212;
  --popover-foreground: #ffffff;
  --primary: #ffffff;
  --primary-foreground: #000000;
  --secondary: #222222;
  --secondary-foreground: #ffffff;
  --highlight: var(--color-neutral-900);
  --muted: #1d1d1d;
  --muted-foreground: #a4a4a4;
  --muted-tertiary: var(--color-neutral-800);
  --muted-primary: #c0c0c0;
  --accent: #333333;
  --accent-foreground: #ffffff;
  --destructive: #ff5b5b;
  --destructive-foreground: #000000;
  --border: #242424;
  --edge: #242424;
  --border-hover: var(--color-neutral-600);
  --input: #333333;
  --ring: #a4a4a4;
  --chart-1: #ffae04;
  --chart-2: #2671f4;
  --chart-3: #747474;
  --chart-4: #525252;
  --chart-5: #e4e4e4;
  --sidebar: #121212;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #ffffff;
  --sidebar-primary-foreground: #000000;
  --sidebar-accent: #333333;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #333333;
  --sidebar-ring: #a4a4a4;

  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.18;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl:
    0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
  --shadow-primary: 0 8px 30px rgb(255, 255, 255, 0.12);
  --shadow-secondary:
    0 1px 1px #ffffff0d, 0 4px 6px #ffffff0a, 0 24px 68px #ffffff0d,
    0 2px 3px #ffffff0a;
  --shadow-tertiary: 0 2px 10px rgb(255, 255, 255, 0.12);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  .bg-linear-l {
    @apply from-background to-card bg-linear-to-r from-5%;
  }

  .bg-linear-r {
    @apply from-background to-card bg-linear-to-l from-5%;
  }

  .bg-linear-b {
    @apply from-background to-card bg-linear-to-b;
  }

  .bg-linear-t {
    @apply from-background to-card bg-linear-to-t;
  }

  .primary-border {
    @apply border-neutral-300 duration-300 dark:border-neutral-700;
  }

  .primary-hover {
    @apply duration-300 hover:border-neutral-500 dark:hover:border-neutral-400;
  }

  .bg-editor {
    @apply bg-[#ffffff] dark:bg-[#101010];
  }
}

.thin-scrollbar {
  scrollbar-width: thin;
}

html {
  scroll-behavior: smooth;
}

@utility screen-line-before {
  @apply before:bg-edge relative before:absolute before:top-0 before:-left-[100vw] before:-z-1 before:h-px before:w-[200vw];
}

@utility primary-ring {
  @apply ring-offset-background ring-[1px] ring-neutral-200 ring-offset-1 dark:ring-neutral-800;
}

@utility screen-line-after {
  @apply after:bg-edge relative after:absolute after:bottom-0 after:-left-[100vw] after:-z-1 after:h-px after:w-[200vw];
}

@utility bg-gradient-b {
  @apply from-secondary via-background to-muted bg-linear-to-b;
}
@utility bg-gradient-l {
  @apply from-secondary via-background to-muted bg-linear-to-l;
}
@utility bg-gradient-r {
  @apply from-secondary via-background to-muted bg-linear-to-r;
}
@utility bg-gradient-t {
  @apply from-secondary via-background to-muted bg-linear-to-t;
}

@utility step {
  counter-increment: step;

  &:before {
    @apply border-background bg-muted mr-2 inline-flex size-6 items-center justify-center rounded-full text-center -indent-px font-mono text-sm font-medium md:absolute md:-mt-1 md:-ml-12.5 md:size-9 md:border-4;
    content: counter(step);
  }
}

@layer components {
  .steps {
    &:first-child {
      @apply mt-0;
    }

    &:first-child > h3:first-child {
      @apply mt-0;
    }

    > h3 {
      @apply mt-8;
    }

    > h3 + p {
      @apply mt-2;
    }
  }

  [data-rehype-pretty-code-figure] {
    @apply bg-code relative mt-2 mb-8 rounded-lg border;
    max-width: 840px;
  }

  [data-line] {
    padding-top: calc(var(--spacing) * 0.5);
    padding-bottom: calc(var(--spacing) * 0.5);
    min-height: calc(var(--spacing) * 1);
    width: 100%;
    display: inline-block;
  }

  [data-highlighted-line],
  [data-highlighted-chars] {
    @apply bg-highlight relative border-l-2 border-neutral-400;
  }

  /* [data-rehype-pretty-code-title] {
     @apply bg-code;
  } */

  code {
    counter-reset: line;
  }

  code > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    display: inline-block;
    width: 1rem;
    margin-right: 1.2rem;
    margin-left: 0.8rem;
    text-align: right;
    color: var(--color-neutral-400);
  }
}

h2,
h3 {
  scroll-margin-top: 100px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 0px;
}

@keyframes fadeInBlur {
  0% {
    opacity: 0.8;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.animate-fade-in-blur {
  animation: fadeInBlur 0.5s ease-out forwards;
  animation-delay: 0.2s;
  opacity: 0.4;
  filter: blur(3px);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--border) transparent;
}
